name: e2e
on:
  workflow_dispatch:

env:
  GO_VERSION: '1.18'

jobs:
  test_local:
    runs-on: ubuntu-20.04
    name: Test run the e2e test on Docker
    steps:
      - name: checkout-repository
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Compile
        run: |
          GOOS=linux GOARCH=amd64 make compile
      - name: Run E2E for Docker
        uses: newrelic/newrelic-integration-e2e-action@v1
        with:
          spec_path: test/e2e/e2e_spec.yml
          account_id: ${{ secrets.ACCOUNT_ID }}
          api_key: ${{ secrets.API_KEY }}
          license_key: ${{ secrets.LICENSE_KEY }}
          agent_dir: test/e2e/agent_dir
