name: e2e
on:
  workflow_dispatch:

env:
  GO_VERSION: '1.18'

jobs:
  e2e-test:
    name: E2E tests
    runs-on: ubuntu-22.04
    steps:
      - name: checkout-repository
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
      - name: check-ubuntu
        run: lsb_release -a
      - name: check-cgroups
        run: grep cgroup /proc/filesystems
