name: e2e
on:
  workflow_dispatch:

env:
  GO_VERSION: '1.18'

jobs:
  test_local:
    runs-on: ubuntu-latest
    name: Test run the e2e test on powerdns local testdata
    steps:
      - name: checkout-repository
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18
      - name: Run E2E for Docker
        uses: newrelic/newrelic-integration-e2e-action
        with:
          spec_path: actions_test/test/e2e/e2e_spec.yml
          account_id: ${{ secrets.ACCOUNT_ID }}
          api_key: ${{ secrets.API_KEY }}
          license_key: ${{ secrets.LICENSE_KEY }}
          agent_dir: actions_test/test/e2e/agent_dir
